/* GERAL */
:root {
  --primaryColor: #7b447b;
  --secundaryColor: #7b447b;
  --threeColor: #d2a8e7;
  --quartaColor: #d2a8e7;
  --quintaColor: #e2c0f2;
  --sextaColor: #e4daf3;
  --contraste: #889b59;
  --paragraph: hsl(210, 9%, 31%);
  --headline: hsl(210, 11%, 15%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--sextaColor);
  font-family: 'DM Sans';
}

/* Cabeçalho */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  color: var(--primaryColor);
}

.wrapperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding-inline: 1rem;
  width: 100%;
  transition: all ease 0.5s;

  font-weight: 700;
}

.buttonMenu {
  border: 0;
  background-color: transparent;
}

.buttonMenu svg path {
  stroke: var(--primaryColor);
}

.toggleButtonMenu {
  display: none;
}

/* MenuFlutuante */
.menu {
  position: absolute;
  left: -100%;
  padding: 1rem;
  width: 100%;
  background-color: var(--primaryColor);
  height: calc(100vh - 3.5rem);
  border-radius: 0 0 50% 0;
  transition: all 0.3s;
}

.showMenu {
  left: 0;
}

.menu li {
  padding-block: 1.5rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid white;
}

.menu a {
  text-decoration: none;
  color: white;
}

main.menuExpanded {
  opacity: 0;
  visibility: hidden;
}

.activeHeaderScroll,
.activeHeaderScroll .menu ul,
.activeHeaderScroll .menu ul li a,
.activeHeaderScroll svg path {
  background-color: var(--primaryColor);
  color: var(--sextaColor);
  stroke: var(--sextaColor);
  fill: var(--sextaColor);
}

/* Corpo da pagina geral*/

body main {
  margin-top: 3.5rem;
}

.wrapperSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 4.5rem 2rem;
  gap: 2rem;
  width: 100%;
  padding-inline: 0.8rem;
  align-items: center;
}

.wrapperSection .homeInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.wrapperSection .homeImg img {
  width: 100%;
}

.wrapperSection h4 {
  color: var(--primaryColor);
  font-size: 1.2rem;
}

.wrapperSection h2 {
  font-size: 2rem;
  color: var(--headline);
}

.wrapperSection p {
  font-size: 1.1rem;
  color: var(--paragraph);
  line-height: 1.6rem;
}

.wrapperSection a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primaryColor);
  font-weight: 700;
  color: var(--sextaColor);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--sextaColor);
}

/* style section specifity 
seção produtos
*/
.wrapperSection.products {
  background-color: var(--quintaColor);
}

.wrapperSection .listProducts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listProducts .card {
  width: 100%;
  position: relative;
  z-index: 1;
}

.card h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  background-color: rgba(131, 127, 127, 0.473);
  font-size: 2rem;
  color: var(--paragraph);
  color: var(--sextaColor);
  display: flex;
  flex-direction: column;
}

.card h3 span {
  font-size: 0.8rem;
}

.card img {
  width: 100%;
}

/* style section specifity 
seção contatos
*/
.contatcAddress {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.contatcAddress div {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-start;
}
.contatcAddress div svg path {
  stroke: var(--primaryColor);
}

.contatcAddress div p {
  text-align: left;
  width: 100%;
  color: var(--headline);
}

.contatcAddress div a {
  background-color: transparent;
  color: var(--headline);
  text-align: left;
  justify-content: flex-start;
}
.map {
  display: none;
}

section.wrapperSection .selleres {
  background-color: var(--quartaColor);
}

.selleres div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactsSellers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--sextaColor);
}

.contactsSellers svg path {
  fill: var(--sextaColor);
}

.contactsSellers {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primaryColor);
  color: var(--sextaColor);
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;
}

.social-links li {
  list-style: none;
}

/* Tablet  */

@media (min-width: 768px) {
  .wrapperSection.contacts {
    flex-direction: row;
  }

  .map {
    width: 100%;
    height: 20rem;
    display: block;
  }

  .wrapperSection .listProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .listProducts .card {
    width: 20rem;
  }

  .wrapperSection.selleres div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    flex-direction: row;
  }
}

/* desktop */

@media (min-width: 1024px) {
  body {
    width: 1024px;
    margin-inline: auto;
  }

  header {
    width: 1024px;
    position: fixed;
    left: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    background-color: var(--sextaColor);
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
  }

  .wrapperHeader {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  header .buttonMenu {
    display: none;
  }

  nav.menu {
    position: relative;
    left: 0;
    display: block;
    width: 100%;

    height: 100%;
    border-radius: 0;
    padding: 0;

    background-color: var(--sextaColor);
  }

  nav.menu ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
  }
  nav.menu ul li {
    padding: 0;
    width: 100%;
    border: none;
  }

  nav.menu a {
    color: var(--primaryColor);
  }

  main.menuExpanded {
    opacity: initial;
    visibility: initial;
  }

  /* Seção home */

  .wrapperSection.home {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .wrapperSection .homeInfo {
    width: 100%;
    height: 100%;
    justify-self: start;
    align-items: flex-start;
  }

  .wrapperSection .homeInfo h2,
  .wrapperSection .homeInfo h4,
  .wrapperSection .homeInfo p {
    text-align: left;
  }

  .wrapperSection .homeImg {
    width: 35rem;
    height: 100%;
    justify-self: end;
  }

  /* seção produtos */

  .card h3 {
    cursor: pointer;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    text-align: center;
  }
}
